{% load customfunction %}
{% if cart %}
<ul class="list-group">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <h4>خلاصه سبد خرید</h4>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    تعداد کتاب‌ها<span>{{ cart|length }}</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    جمع کل<span>{{ cart.get_total_price() }} تومان</span>
  </li>
  
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <strong>مبلغ قابل پرداخت</strong><span><strong>{{ cart.get_total_price() }} تومان</strong></span>
  </li>
</ul>
{% else %}
<p>سبد خرید شما خالی است.</p>
{% endif %}