{% extends 'store/base.html' %}
{% load static %}
{% load customfunction %}

{% block container %}
<div class="row">
    <div class="col-sm-8">
        <div class="cart_info">
            <table class="table table-hover">
                <thead class="text-center">
                    <tr>
                        <th scope="col">محصول</th>
                        <th scope="col" style="width: 250px">نام کتاب</th>
                        <th scope="col">قیمت واحد</th>
                        <th scope="col">تعداد</th>
                        <th scope="col">جمع کل</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    {% for item in o_item %}
                    <tr>
                        <td class="cart_coverpage">
                            <a href="{% url 'store:book' id=item.book.id %}">
                                <img src="{{ item.book.coverpage.url}}" alt="جلد کتاب {{ item.book.name }}">
                            </a>
                        </td>
                        <td><a href="{% url 'store:book' id=item.book.id %}">{{ item.book.name }}</a></td>
                        <td class="cart_quantity">{{ item.book.price }} تومان</td>
                        <td class="cart_quantity">{{ item.quantity }}</td>
                        <td>{{ item.book.price|subtotal:item.quantity }} تومان</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-sm-4">
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center"><h4>خلاصه سفارش</h4></li>
            <li class="list-group-item d-flex justify-content-between align-items-center">تعداد کتاب‌ها<span>{{ o_summary.totalbook }}</span></li>
            <li class="list-group-item d-flex justify-content-between align-items-center">جمع کل<span>{{ o_summary.payable }} تومان</span></li>
            <li class="list-group-item d-flex justify-content-between align-items-center">هزینه ارسال<span>۱۰۰ تومان</span></li>
            <li class="list-group-item d-flex justify-content-between align-items-center">مبلغ نهایی<span>{{ o_summary.payable|add:100 }} تومان</span></li>
            <li class="list-group-item d-flex justify-content-between align-items-center">تاریخ سفارش<span>{{ o_summary.created }}</span></li>
        </ul>
    </div>
</div>
{% endblock %}